# # Base de datos Local
# DB_NAME=lamarina
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=45377806Ma

# Base de datos nube
POSTGRES_HOST=dpg-ctgrktdds78s73e0m3qg-a.oregon-postgres.render.com
POSTGRES_PORT=5432
POSTGRES_USER=la_marina_db_user
POSTGRES_PASSWORD=yv3525COtcC2Riq97C0PniHcz2YWz81f
POSTGRES_DB=la_marina_db


# Cloudinary
CLOUDINARY_CLOUD_NAME=dcaqkyvfu
CLOUDINARY_API_SECRET=NtyfHK-ldLVu40brIKeNxkyswEw
CLOUDINARY_API_KEY=616457824138479

# JWT
JWT_SECRET=your_secret_key

# NodeMailer
EMAIL_USER=clubmayoristacmc@gmail.com
EMAIL_PASS="wmtn xgyk fixz qrgm"


# OAuth Google
GOOGLE_CLIENT_ID=6491419908-j5d99fo65rl20buu8mb4o9iltotf4pjb.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=https://frontend-la-marina.vercel.app/auth/google/callback

# MercadoPago
PUBLIC_KEY=APP_USR-6a038c46-fa2e-492b-9ae0-4f923020b7da
MERCADOPAGO_ACCESS_TOKEN=APP_USR-3444195297120441-121712-b4c9facda5a6dcbe3abbf4612ef5d2c6-256972118

FRONT_URL=https://frontend-la-marina.vercel.app
